{% macro render_checkbox(field, group=False) %}

{% if group %}
<div class="pure-control-group">{% endif %}
    <label>
        <input name="{{ field.label.field_id }}" type="checkbox" class="pure-checkbox"> Remember me
    </label>
{% if group %}</div>{% endif %}



{% endmacro%}

{% macro render_select(field, group=False) %}

{% if not group %}<div class="pure-control-group"> {% endif %}

    <select id="state">
        <option>{{ field.coerce }}</option>
        {% for choice in field.choices -%}
        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
    </select>

    {% if not group %}</div>{% endif %}

{% endmacro%}


{% macro render_input(field, group, password=False)%}

{% if group %}
<input name="{{ field.label.field_id }}" type="{% if password %}password{% else %}text{% endif %}"
       class="{% if field.errors %}has-error{% endif %}"
       placeholder="{{ field.label.text }}"/>
{% else %}
<div class="pure-control-group">
    <input name="{{ field.label.field_id }}" type="{% if password %}password{% else %}text{% endif %}"
           class="{% if field.errors %}has-error{% endif %}"
           placeholder="{{ field.label.text }}"/>
</div>
{% endif %}

{% endmacro %}


{% macro render_action(field, group) %}
<button type="submit" class="pure-button pure-button-primary">{{ field.label.text }}</button>
{% endmacro %}


{% macro render_form(url, form, horizontal=False, legend=None, confirm_msg=None, formid=None, login=False, group=False) %}
{% set idattr = "id=" + formid if formid else "" %}

<form {{idattr}} class="pure-form {% if login %}login-form{% endif %}" method="POST" action="{{ url }}"
      {% if confirm_msg %}onsubmit='return confirm("{{ confirm_msg }}");' {% endif %}
      {% if form.multipart %}enctype="multipart/form-data" {% endif %}>

    {% if legend %}
    <legend>{{ legend|safe }}</legend>
    {% endif %}

    {% if group %}
    <fieldset class="pure-group">{% endif %}

        {% for field in form %}
        {% if field.type != "HiddenField" and field.type != "CSRFTokenField" %}
        {% if field.type == "RadioField" %}
        {{ render_radio(field, group) }}
        {% elif field.type == "TextAreaField" %}
        {{ render_textarea(field, group) }}
        {% elif field.type == "DateField" %}
        {{ render_datepicker(field, group) }}
        {% elif field.type == "FileField" %}
        {{ render_file(field,group) }}
        {% elif field.type == "StringField" %}
        {{ render_input(field,group) }}
        {% elif field.type == "PasswordField" %}
        {{ render_input(field, group, password=True) }}
        {% elif field.type == "SelectField" %}
        {{ render_select(field, group) }}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if group %}
    </fieldset>
    {% endif %}

    {% for field in form %}
    {% if field.type == "SubmitField" %}
    {{ render_action(field) }}
    {% elif field.type == "BooleanField" %}
    {{ render_checkbox(field) }}
    {% endif %}
    {% endfor %}

</form>

{% endmacro %}