{% extends "layout.html" %}
{% block title %} Power Hosts {% endblock %}

{% block menus %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li class="pure-menu-selected"><a href="/hosts">Hosts</a></li>
        <li><a href="/roles">Roles</a></li>
        <li><a href="/sinup">Sinup</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="admin-content-wrapper">
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-5-24">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading">Yahoo! Sites</a>
                        <ul>
                            <li><a href="#">Flickr</a></li>
                            <li><a href="#">Messenger</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Finance</a></li>
                            <li class="pure-menu-heading">More Sites!</li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">OMG!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pure-u-2-24"></div>
                <div class="pure-u-17-24">
                    <table class="pure-table pure-table-horizontal">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Honda</td>
                            <td>Accord</td>
                            <td>2009</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Toyota</td>
                            <td>Camry</td>
                            <td>2012</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Hyundai</td>
                            <td>Elantra</td>
                            <td>2010</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}