{% extends "layout.html" %}
{% block title %} Power Roles {% endblock %}

{% block menus %}
<ul>
    <li><a href="/">Home</a></li>
    <li class="pure-menu-selected"><a href="/login">Login</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="admin-content-wrapper">

    <div class="content">
        <form class="pure-form login-form" method="POST">

            <fieldset class="pure-group">
                <input type="text"  placeholder="Email">
                <input type="password"  placeholder="Password">
            </fieldset>
            <button type="submit" class="pure-button pure-button-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}