{% extends "layout.html" %}
{% block title %} Power Roles {% endblock %}

{% block menus %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/hosts">Hosts</a></li>
    <li class="pure-menu-selected"><a href="/roles">Roles</a></li>
    <li><a href="/sinup">Sinup</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="admin-content-wrapper">
    <div class="content">
        <div class="pure-g" style="min-height: 100px">
            <div class="pure-u-17-24" style="">
                <div>
                    <button class="pure-button pure-button-primary">Add Roles</button>
                </div>
                <br>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Role Name</th>
                        <th style="min-width:100px">Description</th>
                        <th>Author</th>
                        <th>Support Platforms</th>
                        <th>Create Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>ansible-role-apache</td>
                        <td>install apache services</td>
                        <td>ylzheng</td>
                        <td>Ubuntu(trusty)</td>
                        <td>2015-12-31 12:00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ansible-role-renv</td>
                        <td>install apache services</td>
                        <td>ylzheng</td>
                        <td>Ubuntu(trusty)</td>
                        <td>2015-12-31 12:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pure-u-1-24"></div>
            <div class="pure-u-6-24" style="">
                <div class="pure-menu pure-menu-open" style="">
                    <a class="pure-menu-heading">Yahoo! Sites</a>
                    <ul>
                        <li><a href="#">Flickr</a></li>
                        <li><a href="#">Messenger</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Finance</a></li>
                        <li class="pure-menu-heading">More Sites!</li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">OMG!</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pure-g" style="min-height:100px;display:none">
            <div class="pure-u-6-24" style="background-color:#E6E6E6"></div>
            <div class="pure-u-1-24"></div>
            <div class="pure-u-17-24" style="background-color:#E6E6E6">
            </div>
        </div>
    </div>
</div>
{% endblock %}