{% extends "layouts/dashboard.html" %}
{% from "macros/_form.html" import render_form %}
{% block title %} Add Credentials {% endblock %}
{% set active_page = "credentials" %}

{% block js %}
<script type=text/javascript src="{{ url_for('static', filename='js/credentials/add.js') }}"></script>
{% endblock %}

{% block content %}
<div class="admin-content-wrapper side-content-wrapper">

    <div class="content">
       {{ render_form(url_for('admin.add_credentials'), form, group=False)}}
    </div>

</div>
{% endblock %}
