.text-center {
    text-align: center!important;
}

.radius-panel {

    width:100%;
    border-radius: 4px;
    padding: 15px;
    min-height:350px;
    background:rgb(240,242,244);
    border-right: 1px solid rgb(209,212,213);
    margin-top:1px;
}

.main-table {
    width:100%;
}

.side_menu {
    left:0px;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    #background: #2d3e50;
    background: rgb(41,43,50);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.side_menu .pure-menu .pure-menu-heading{
    height:54px;
    color: white;
    font-weight: 400;
    font-size: 120%;
    background: #2d3e50;
    margin-top: 0;
    padding-top:0.9em;
    border: none;
}

.power-top-menu{
    padding-top:10px;
    padding-bottom:10px;
}

.side_menu .pure-menu-selected a, #menu .pure-menu-heading {
    background: rgb(74,78,91);
    border-left: 8px solid rgb(92,180,185);

}

.side_menu .pure-menu-selected a{
    font-weight: bolder;
}

.side_menu li a{
    color:#fff;
}

.side_menu li:hover{
    background: rgb(74,78,91);
}

.side_menu li a:hover{
    background: rgb(74,78,91);
    border-left: 8px solid rgb(92,180,185);
    color: #fff;
}

.side_menu .pure-menu, .side_menu .pure-menu ul {
    border: none;
    background: transparent;
}

.side_menu .pure-menu-selected a {
    color: rgb(246,246,246);
}

.pure-menu li a {
padding: 10px 5px 10px 25px;
}

.side-content-wrapper{
    padding-left: 200px;
    left: 0;
}

.admin-content-wrapper form input, .admin-content-wrapper form select{
    width: 100%;
}

.clearfix{
    clear:both;
}

/*  Login Page */

.login-form {
    width:400px;
    margin:0 auto;
    margin-top: 80px;
}

.login-form .pure-group input {
    width:100%;
}

.admin-content-wrapper .login-form .pure-checkbox{
    width:5%;
    display: inline-block;
}

.login-form .pure-button{
    width:100%;
}


/** Dashbord Page **/
#dash-counts{
    border-radius: 4px;
    padding: 15px;
    margin-top:15px;
    margin-bottom:300px;
}

#dash-counts a{
    font-size:45px;
    font-weight:bolder;
    color:rgb(129, 130,144);
}

#dash-counts h6{
    color: rgb(125, 197,165);
    font-size:20px;
}

.pure-table thead {
    background:#fff;
}

.table-menu{

    margin-left:20px;
}










